.bigimage {
    display: block;
}

.mediumimage {
    display: none;
}

.smallimage {
    display: none;
}

@media only screen and (max-width:992px) {
    .bigimage {
        display: none;
    }
    
    .mediumimage {
        display: block;
    }
    
    .smallimage {
        display: none;
    }
}

@media only screen and (max-width:768px) {
    .bigimage {
        display: none;
    }
    
    .mediumimage {
        display: none;
    }
    
    .smallimage {
        display: block;
    }
}