.bigimage {
    display: block;
}

.mediumimage {
    display: none;
}

.smallimage {
    display: none;
}

@media only screen and (max-width:991px) {
    .bigimage {
        display: none;
    }
    
    .mediumimage {
        display: block;
    }
    
    .smallimage {
        display: none;
    }
}

@media only screen and (max-width:767px) {
    .bigimage {
        display: none;
    }
    
    .mediumimage {
        display: none;
    }
    
    .smallimage {
        display: block;
    }
}

@media only screen and (orientation: portrait) {
    [class*="navbar"] {
        position: fixed;
        width: 100%;
        z-index: 999;
    }
}

article {
    padding-top: 60px;
}